.container_site {
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  opacity: 80%;
  background-color: #FFF;
}

body {
  font-family: "Roboto";
  font-size: 0.9rem;
  height: 1500px;
  margin: 0px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin: 5%;
  justify-content: space-around;
  position: relative;
}

.section-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
  width: 100%;
  box-shadow: inset 0px 7px 8px -10px #555;
}

.content-searchbar {
  display: flex;
  width: 50%;
  height: 40px;
}

.fas.fa-map-marker-alt {
  display: flex;
  align-items: center;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}

input {
  text-align: center;
  font-family: "Roboto";
  background-color: #E8E8E8;
  border: none;
  box-shadow: inset 0px 7px 8px -10px #555;
}

.section-introduction {
  text-align: center;
  align-items: center;
  background-color: #F8F8F8;
  display: flex;
  width: 100%;
}

.introduction {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.sous_titre {
  font-weight: 100;
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 20px;
}

.btn-primary {
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 12px;
  box-shadow: 5px 5px 5px lightgrey;
}

/*fonctionnement*/
.section-fonction {
  display: flex;
  flex-direction: column;
}

.content-fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cadrelong {
  display: flex;
  flex-direction: row;
  background-color: #F8F8F8;
  border-radius: 15px;
  width: 80%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px lightgrey;
  position: relative;
}

.number {
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 15px;
  position: absolute;
  right: 235px;
}

.section-fonction .titre {
  margin-left: 20px;
}

.text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.text i {
  color: gray;
  margin-left: 15px;
}

/*restaurants*/
.header-logo i {
  position: absolute;
  top: 10px;
  left: 1px;
}

.section-restaurants {
  background-color: #F8F8F8;
}

.section-restaurants .titre {
  padding-top: 50px;
  margin-left: 20px;
}

.cadre {
  background-color: #fff;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 1px 1px 5px lightgrey;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin-right: 30px;
  margin-left: 30px;
}

.content-cadre {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 5px;
  position: relative;
}

.texte-cadre {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: 10px;
}

.titre_cadre {
  font-size: 1.1rem;
}

.icon-cadre {
  margin-top: 4px;
  position: relative;
}

.far.fa-heart {
  font-size: 33px;
}

.fas.fa-heart {
  font-size: 33px;
}

.prix {
  font-weight: bold !important;
}

.far.fa-heart:hover {
  opacity: 0%;
  position: absolute;
}

.fas.fa-heart:hover {
  position: absolute;
  color: pink;
  right: 5px;
  opacity: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-cadre .fas.fa-heart {
  position: absolute;
  right: 5px;
  opacity: 0%;
}

.fas.fa-heart {
  position: relative;
}

.sous_titre_cadre {
  margin-top: 5px;
  font-size: 1rem;
}

.content-cadre img {
  max-width: 100%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 20px 20px 0px 0px;
}

#resize {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.new {
  background-color: #99E2D0;
  color: #29a069;
  font-weight: 800;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
}

.etiquette {
  position: absolute;
  right: 20px;
  top: 13px;
}

.background {
  background-image: url(img/stil-u2Lp8tXIcjw-unsplash.jpg);
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

.background-gout {
  background-image: url(img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

.background-francais {
  background-image: url(img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

.background-delice {
  background-image: url(img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

/*footer*/
.section-footer {
  font-family: "Roboto";
  color: white;
  background-color: #373a3c;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.title_footer {
  padding-left: 10%;
  margin-bottom: 0;
  font-family: "Shrikhand";
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5rem;
}

.list i {
  padding-right: 2%;
}

/*page menu*/
.section-cover img {
  width: 100%;
  height: 15%;
  max-height: 35%;
  object-fit: cover;
}

.header-logo-menu {
  display: flex;
  justify-content: center;
  margin: 5%;
  position: relative;
}

.arrow {
  position: absolute;
  left: 0;
}

.titre-menu-header {
  font-family: "Shrikhand";
  font-size: 1.7rem;
}

.sous-titre-menu {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.titre-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.titre-menu i {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu-francais, .menu-note, .menu-gout, .menu-delice {
  background-color: #F8F8F8;
  border-radius: 30px;
  position: absolute;
  margin-top: -30px;
  width: 100%;
}

.content-entree, .content-plats, .content-desserts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content-cadre-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
}

.content-left {
  width: 80%;
  margin: 10px;
}

.cadre-menu {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 8px lightgrey;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-bottom: 20px;
  margin-right: 10px;
}

.trait {
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.check {
  background-color: #99E2D0;
  color: #FFF;
  width: 20%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bouton {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn-menu {
  margin-bottom: 60px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

h4, p {
  margin: 0;
}

.content-cadre-menu p {
  font-weight: 100;
}

.section-cadre {
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-footer-menu {
  font-family: "Roboto";
  color: white;
  background-color: #373a3c;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1060px;
}

.title_footer_menu {
  width: 100%;
  padding-left: 10%;
  margin-bottom: 0;
  font-family: "Shrikhand";
  color: white;
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
  .content-searchbar {
    justify-content: center;
  }

  .number {
    display: none;
  }

  #resize {
    height: 460px;
  }

  .text {
    justify-content: center;
  }

  .text i {
    margin-right: 30px;
  }

  .cadrelong {
    max-width: 500px;
  }

  .cadre {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .list {
    line-height: 2rem;
    width: 100%;
    text-align: center;
  }

  .title_footer_menu {
    width: 100%;
    text-align: center;
    margin-left: 45px;
  }

  .title_footer {
    padding-left: 0px;
    text-align: center;
  }

  #resize {
    height: 400px;
  }

  /*page-menu*/
  .menu-francais {
    width: 100%;
  }

  .cadre-menu {
    max-width: 400px;
  }

  .sous-titre-menu {
    margin-top: 20px;
  }

  .title_footer_menu {
    padding: 0px;
    margin-left: 0px;
  }

  .list {
    padding: 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .content-searchbar {
    justify-content: center;
  }

  body {
    font-size: 1.2rem;
    height: 1300px;
  }

  input {
    font-size: 1.5rem;
  }

  .section-searchbar {
    height: 6%;
  }

  .sous_titre {
    font-size: 1.1rem;
  }

  .btn-primary {
    height: 50px;
    width: 250px;
    font-size: 1.1rem;
    margin: 20px;
  }

  .new {
    width: 90px;
  }

  .titre_cadre {
    font-size: 1.2rem;
  }

  .sous_titre_cadre {
    font-size: 1.1rem;
  }

  .section-restaurants {
    display: flex;
    flex-direction: column;
  }

  .section-cadre {
    display: flex;
    flex-direction: row;
  }

  .cadrelong {
    max-width: 500px;
  }

  .cadre {
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
    width: 20%;
  }

  .content-cadre {
    max-height: 300px;
    width: 100%;
  }

  .number {
    display: none;
  }

  #resize {
    height: 170px;
  }

  .section-fonction {
    padding-bottom: 50px;
  }

  .text {
    justify-content: center;
  }

  .text i {
    margin-right: 30px;
  }

  .section-footer {
    align-items: center;
  }

  .title_footer {
    padding: 0px;
    text-align: center;
    margin-left: 45px;
  }

  .list {
    line-height: 2rem;
    width: 100%;
    text-align: center;
  }

  .list li {
    width: 100%;
    align-items: center;
  }

  /*page-menu*/
  .menu-francais {
    width: 100%;
    height: 864px;
  }

  .cadre-menu {
    max-width: 315px;
  }

  .sous-titre-menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .trait {
    margin-bottom: 20px;
  }

  .title_footer_menu {
    text-align: center;
    padding: 0px;
  }

  .list {
    padding: 0px;
  }

  .content-entree, .content-plats, .content-desserts {
    flex-direction: row;
  }

  .section-footer-menu {
    top: 819px;
  }

  .btn-menu {
    margin-top: 70px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 1.3rem;
    height: 1300px;
  }

  input {
    font-size: 1.5rem;
  }

  .section-searchbar {
    height: 6%;
  }

  .section-fonction {
    padding-bottom: 50px;
  }

  .sous_titre {
    font-size: 1.2rem;
  }

  .btn-primary {
    height: 50px;
    width: 250px;
    font-size: 1.2rem;
    margin: 20px;
  }

  .new {
    width: 150px;
  }

  .titre_cadre {
    font-size: 1.2rem;
  }

  .sous_titre_cadre {
    font-size: 1.1rem;
  }

  .section-restaurants {
    display: flex;
  }

  .cadrelong {
    max-width: 500px;
  }

  .cadre {
    margin-top: 100px;
    flex-direction: row;
  }

  .content-searchbar {
    justify-content: center;
  }

  .number {
    display: none;
  }

  #resize {
    height: 1100px;
  }

  .text {
    justify-content: center;
  }

  .text i {
    margin-right: 30px;
  }

  .section-footer {
    align-items: center;
  }

  .title_footer {
    padding: 0px;
    width: 100%;
    text-align: center;
    margin-left: 45px;
  }

  .list {
    line-height: 2rem;
    width: 100%;
    text-align: center;
  }

  .list li {
    width: 100%;
    align-items: center;
  }

  /*page-menu*/
  .menu-francais {
    width: 100%;
    height: 1064px;
  }

  .cadre-menu {
    max-width: 400px;
  }

  .sous-titre-menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  .trait {
    margin-left: 608px;
    margin-bottom: 50px;
  }

  .title_footer_menu {
    text-align: center;
    padding: 0px;
  }

  .list {
    padding: 0px;
  }

  .content-entree, .content-plats, .content-desserts {
    flex-direction: row;
  }

  .cadre-menu {
    height: 90px;
  }

  .section-footer-menu {
    top: 1019px;
  }

  .btn-menu {
    margin-top: 70px;
    font-size: 1.3rem;
  }

  .titre-menu-header {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=styleclone.css.map */
