.container_site {
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

body {
  font-family: "Roboto";
  font-size: 0.9rem;
  height: 1500px;
  margin: 0px;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin: 5%;
  justify-content: space-around;
  position: relative;
}

.section-searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
  width: 100%;
  height: 3%;
  box-shadow: inset 0px 7px 8px -10px #555;
}

.content-searchbar {
  display: flex;
  width: 50%;
}

input {
  text-align: center;
  font-family: "Roboto";
  background-color: #E8E8E8;
  border: none;
}

.section-introduction {
  text-align: center;
  align-items: center;
  background-color: #F8F8F8;
  display: flex;
  width: 100%;
  height: 15%;
}

.introduction {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.sous_titre {
  font-weight: 100;
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 20px;
}

.btn-primary {
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 12px;
  box-shadow: 5px 5px 5px lightgrey;
}

/*fonctionnement*/
.section-fonction {
  display: flex;
  flex-direction: column;
}

.content-fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cadrelong {
  display: flex;
  flex-direction: row;
  background-color: #F8F8F8;
  border-radius: 15px;
  width: 80%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px lightgrey;
  position: relative;
}

.number {
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 15px;
  position: absolute;
  right: 235px;
}

.section-fonction .titre {
  margin-left: 20px;
}

.text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.text i {
  color: gray;
  margin-left: 15px;
}

/*restaurants*/
.header-logo i {
  position: absolute;
  top: 10px;
  left: 1px;
}

.section-restaurants {
  background-color: #F8F8F8;
}

.section-restaurants .titre {
  padding-top: 50px;
  margin-left: 20px;
}

.cadre {
  background-color: #fff;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 1px 1px 5px lightgrey;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.content-cadre {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 5px;
  position: relative;
}

.texte-cadre {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: 10px;
}

.titre_cadre {
  font-size: 1.1rem;
}

.icon-cadre {
  margin-top: 4px;
}

.sous_titre_cadre {
  margin-top: 5px;
  font-size: 1rem;
}

.content-cadre img {
  max-width: 100%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 20px 20px 0px 0px;
}

#resize {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.new {
  background-color: #99E2D0;
  color: #29a069;
  font-weight: 800;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
}

.etiquette {
  position: absolute;
  right: 20px;
  top: 13px;
}

/*footer*/
.section-footer {
  font-family: "Roboto";
  color: white;
  background-color: #373a3c;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.title_footer {
  padding-left: 10%;
  margin-bottom: 0;
  font-family: "Shrikhand";
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5rem;
}

.list i {
  padding-right: 2%;
}

/*page menu*/
.section-cover img {
  width: 100%;
  height: 15%;
  max-height: 35%;
  object-fit: cover;
}

.titre-menu-header {
  font-family: "Shrikhand";
  font-size: 1.3rem;
}

.sous-titre-menu {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.titre-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.titre-menu i {
  display: flex;
  align-items: center;
}

.menu-francais, .menu-note, .menu-gout, .menu-delice {
  background-color: #F8F8F8;
  border-radius: 30px;
  position: absolute;
  margin-top: -30px;
}

.content-entree, .content-plats, .content-desserts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.content-cadre-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.content-left {
  width: 100%;
  padding: 10px;
}

.cadre-menu {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 8px lightgrey;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.trait {
  background-color: #99E2D0;
  width: 15%;
  height: 3px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.check {
  background-color: #99E2D0;
  color: #FFF;
  width: 70px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bouton {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn-menu {
  margin-bottom: 60px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

h4, p {
  margin: 0;
}

.content-cadre-menu p {
  font-weight: 100;
}

.section-footer-menu {
  font-family: "Roboto";
  color: white;
  background-color: #373a3c;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1060px;
}

@media screen and (min-width: 321px) and (max-width: 1099px) {
  .content-searchbar {
    justify-content: center;
  }

  .number {
    display: none;
  }

  #resize {
    height: 460px;
  }

  .text {
    justify-content: center;
  }

  .text i {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1450px) {
  .content-searchbar {
    justify-content: center;
  }

  body {
    font-size: 1.2rem;
    height: 1300px;
  }

  .section-searchbar {
    height: 6%;
  }

  .sous_titre {
    font-size: 1.1rem;
  }

  .btn-primary {
    height: 50px;
    width: 250px;
    font-size: 1.1rem;
    margin: 20px;
  }

  .new {
    width: 90px;
  }

  .titre_cadre {
    font-size: 1.2rem;
  }

  .sous_titre_cadre {
    font-size: 1.1rem;
  }

  .section-restaurants {
    display: flex;
  }

  .cadre {
    margin-top: 100px;
    flex-direction: row;
  }

  .content-cadre {
    max-height: 240px;
    width: 180px;
  }

  .number {
    display: none;
  }

  #resize {
    height: 114px;
  }

  .section-fonction {
    padding-bottom: 50px;
  }

  .text {
    justify-content: center;
  }

  .text i {
    margin-right: 30px;
  }

  .section-footer {
    align-items: center;
  }

  .title_footer {
    padding: 0px;
  }

  .list {
    line-height: 2rem;
  }

  .list li {
    width: 100%;
    align-items: center;
  }
}
@media screen and (min-width: 1452px) and (max-width: 1900px) {
  body {
    font-size: 1.3rem;
    height: 1300px;
  }

  .section-searchbar {
    height: 6%;
  }

  .section-fonction {
    padding-bottom: 50px;
  }

  .sous_titre {
    font-size: 1.2rem;
  }

  .btn-primary {
    height: 50px;
    width: 250px;
    font-size: 1.2rem;
    margin: 20px;
  }

  .new {
    width: 150px;
  }

  .titre_cadre {
    font-size: 1.2rem;
  }

  .sous_titre_cadre {
    font-size: 1.1rem;
  }

  .section-restaurants {
    display: flex;
  }

  .cadre {
    margin-top: 100px;
    flex-direction: row;
  }

  .content-cadre {
    max-height: 240px;
  }

  .content-searchbar {
    justify-content: center;
  }

  .number {
    display: none;
  }

  #resize {
    height: 1100px;
  }

  .text {
    justify-content: center;
  }

  .text i {
    margin-right: 30px;
  }

  .section-footer {
    align-items: center;
  }

  .title_footer {
    padding: 0px;
  }

  .list {
    line-height: 2rem;
  }

  .list li {
    width: 100%;
    align-items: center;
  }
}

/*# sourceMappingURL=styleclone.css.map */
