$colour-background-primary:#E8E8E8;
$colour-background-secondary:#F8F8F8;
$colour-background-tertiary:#FFF;
$wide-width:100%;
$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;

.container_site {
    max-width:1440px;
    align-items:center;
    margin:0 auto;
    height:100%;
}

body {
    font-family:'Roboto';
    font-size:0.9rem;
    height:1500px;
    margin:0px;
}
   
.header-logo{
        display:flex;
        justify-content:center;
        margin:5%;
        justify-content: space-around;
        position:relative;
    }
.section-searchbar{
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:$colour-background-primary;
        width:$wide-width;
        height:3%;
        box-shadow: inset 0px 7px 8px -10px #555;
    }

.content-searchbar{
        display:flex;
        width:50%;
    }

input{
        text-align:center;
        font-family:'Roboto';
        background-color:$colour-background-primary;
        border:none;
    }

    .section-introduction{
        text-align:center;
        align-items:center;
        background-color:$colour-background-secondary;
        display: flex;
        width:$wide-width;
        height:15%;
    }

    .introduction{
        width:70%;
        margin-left:15%;
        margin-right:15%;
    }

    .sous_titre{
        font-weight:100;
        font-size:0.8rem;
        color:gray;
        margin-bottom:20px;
    }

    .btn-primary {
        border-radius:20px 20px 20px 20px;
        background:linear-gradient($colour-secondary,$colour-primary);
        color:white;
        border:none;
        padding:12px;
        box-shadow: 5px 5px 5px lightgrey;
    }
    /*fonctionnement*/
    .section-fonction{
        display:flex;
        flex-direction:column;
    }

    .content-fonction{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }

    .cadrelong{
        display:flex;
        flex-direction: row;
        background-color:#F8F8F8;
        border-radius:15px;
        width:80%;
        align-items: center;
        margin-top:10px;
        margin-bottom:10px;
        box-shadow: 5px 5px 5px lightgrey;
        position:relative;
    }

    .number{
        background-color:$colour-primary;
        color:white;
        font-size:0.8rem;
        padding-left:8px;
        padding-right:8px;
        padding-top:3px;
        padding-bottom:4px;
        border-radius:15px;
        position:absolute;
        right:235px;
    }

    .section-fonction .titre{
        margin-left:20px;
    }

    .text{
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        width:100%;
        margin-top:20px;
        margin-bottom:20px;
        margin-right:20px;
    }

    .text i{
        color:gray;
        margin-left:15px;
    }

    /*restaurants*/

    .header-logo i {
        position:absolute;
        top:10px;
        left:1px;
    }

    .section-restaurants{
        background-color:$colour-background-secondary;
    }

    .section-restaurants .titre{
        padding-top:50px;
        margin-left:20px;
    }

    .cadre{
        background-color: #fff;
        border-radius: 20px;
        padding: 0px;
        box-shadow: 1px 1px 5px lightgrey;
        display:flex;
        flex-direction:column;
        margin-bottom:50px;
        width:90%;
        margin-right:5%;
        margin-left:5%;
    }

    .content-cadre{
        display: flex;
        flex-direction:column;
        height:100%;
        margin-bottom:5px;
        position:relative;
    }

    .texte-cadre{
        display:flex;
        flex-direction: row;
        width:90%;
        justify-content:space-between;
        margin:10px;
    }

    .titre_cadre{
        font-size:1.1rem;
    }

    .icon-cadre{
        margin-top:4px;
    }

    .sous_titre_cadre{
        margin-top:5px;
        font-size:1rem;
    }

    .content-cadre img{
        max-width: 100%;
        max-height:70%;
        object-fit: contain;
        border-radius: 20px 20px 0px 0px;
    }

    #resize{
        width:100%;
        height:200px;
        object-fit: cover;
    }

    .new{
        background-color:$colour-tertiary;
        color:rgb(41, 160, 105);
        font-weight:800;
        width:80px;
        text-align:center;
        border-radius:3px;
        padding:5px;
    }

    .etiquette{
        position:absolute;
        right:20px;
        top:13px;
    }


    /*footer*/
    .section-footer {
        font-family:'Roboto';
        color:white;
        background-color:#373a3c;
        font-weight: 500;
        display:flex;
        flex-direction: column;
    }

    .title_footer{
        padding-left:10%;
        margin-bottom:0;
        font-family:'Shrikhand';
        color:white;
    }

    .list {
        display: flex;
        flex-direction: column;
        text-decoration:none;
        list-style-type: none;
        line-height: 1.5rem;
    }

    .list i {
        padding-right:2%;
    }

    /*page menu*/
    .section-cover img{
      width:100%;
      height:15%; 
      max-height:35%;
      object-fit: cover; 
    }

    .titre-menu-header{
        font-family:'Shrikhand';
        font-size:1.3rem;
    }

    .sous-titre-menu{
        font-family:'Roboto';
        font-weight:400;
        font-size:1.2rem;
        text-transform: uppercase;
        margin-left:10px;
        margin-top:0;
        margin-bottom:5px;
    }

    .titre-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:10px;
    }

    .titre-menu i{
        display:flex;
        align-items: center;
    }

    .menu-francais, .menu-note, .menu-gout, .menu-delice{
        background-color:#F8F8F8;
        border-radius:30px;
    }

    .content-entree, .content-plats, .content-desserts{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .content-cadre-menu{
        display:flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .cadre-menu{
        border: solid 5px white;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 5px 5px 8px lightgrey;
        display:flex;
        flex-direction:row;
        width:90%;
        margin-bottom:20px;
        justify-content: space-between;
    }

    .trait{
        background-color:$colour-tertiary;
        width:15%;
        height:3px;
        margin-bottom:15px;
        margin-left:10px;
    }

    .check{
        background-color:$colour-tertiary;
        color:$colour-background-tertiary;
        width:35px;
        border-radius:0px 10px 10px 0px;
    }

    h4, p{
        margin:0;
    }

    .content-cadre-menu p{
        font-weight:100;
    }

